<f:comment><div class="debug">
	<div class="dxs visible-xs-block">xs</div>
	<div class="dsm visible-sm-block">sm</div>
	<div class="dmd visible-md-block">md</div>
	<div class="dlg visible-lg-block">lg</div>
</div></f:comment>
<div id="page">
	<f:render partial="Header" />

	<!--TYPO3SEARCH_begin-->
	<f:render section="content" />
	<!--TYPO3SEARCH_end-->
	<f:render partial="Footer" />
	<f:comment><f:render partial="Social" /></f:comment>
	<aside class="left-side">
		<div>// Web Entwicklung Markus Dübbert</div>
	</aside>

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>